{% load static %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Property Help<span>.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
        <ul>

            <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
            <li class="dropdown"><a href="#"><span>Property Type</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                {% for type in property_type_links %}
                <li><a href="{{ type.get_slug_url }}">{{ type.property_type_name }}</a></li>
                {% endfor %}
            </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Property Category</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                    {% for category in property_category_links %}
                    <li><a href="{{ category.get_slug_url }}">{{ category.property_category_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>            
            
            <li class="dropdown"><a href="#"><span>Pricing & Plans</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                    <li><a href="{% url 'buyerpricing' %}">For Buyer</a></li>
                    <li><a href="{% url 'sellerpricing' %}">For Seller</a></li>
                </ul>
            </li>
            <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
                {% endif %}
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

        <a class="btn-getstarted scrollto" href="index.html#about">Search</a>

    </div>
</header><!-- End Header -->