{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
    <h2>Welcome to <span>Property Rental Help</span></h2>
    <p>To list your property for free, please contact us.</p>
    <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">Explore Property</a>
    </div>
  </div>
</section>
<main id="main">
    
</main><!-- End #main -->
{% endblock %}